        .w100 {
            width: 100%;
            height: 34px;
            
        }

        .mr0 {
            margin-right: 0;
        }

        .pl0 {
            padding-left: 0;
        }

        .pr0 {
            padding-right: 0;
        }
        
        .w50 {
        	padding: 0;
        	width: 32px;
        	height: 30px;
        }
        
        .wave{
            margin-right: 10px;
            margin-left: 10px;
        	padding-left: 0;
        	padding-right: 0;
        	line-height: 34px;
        }

        .inputbox {
        		margin-right: 11px;
        	    display: block;
			    width: 137px;
			    height: 34px;
			    padding: 6px 8px;
			    font-size: 14px;
			    line-height: 1.42857143;
			    color: #555;
			    background-color: #fff;
			    background-image: none;
			    border: 1px solid #ccc;
			    border-radius: 4px;
			    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
			    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
			    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
			    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }
        
        .downloadbox {
        		margin-left: 60px;
         		width: 40px;
			    height: 34px;
			    padding: 6px 8px;
			    font-size: 14px;
			    line-height: 1.42857143;
			    color: #555;
        }
        
        .leftmargin2 {
        	margin-left: 15px;
        	}
        
        .leftmargin {
        	margin-left: 6.5px;
        }
        
        .pdfdownload {
        	padding: 0;
        	width: 32px;
        	height: 30px;
        }
        
        .exceldownload {
        	padding: 0;
        	width: 32px;
        	height: 30px;
        }
        
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 0.5;
}
input::-moz-placeholder { /* Firefox 19+ */
  opacity: 0.5;
}
input:-ms-input-placeholder { /* IE 10+ */
  opacity: 0.5;
}
input:-moz-placeholder { /* Firefox 18- */
  opacity: 0.5;
}
