        .w100 {
            width: 100%
        }

        .mr0 {
            margin-right: 0;
        }

        .pl0 {
            padding-left: 0;
        }

        .pr0 {
            padding-right: 0;
        }