.signup-title{
    color: black;
    font-size: 35px;
    font-weight: 700;
}

.signup-icon-btn-facebook {
  border: 1px solid;
    background: transparent!important;
    box-shadow: none;
    height: 40px;
    width: 40px;
    color: #cfd8dc!important;
    caret-color: #cfd8dc!important;
    border-radius: 50%;
    cursor: pointer;
}
.signup-icon-btn-facebook :hover{
  color: rgb(21, 101, 192);
}

.signup-icon-btn-google {
  border: 1px solid;
    background: transparent!important;
    box-shadow: none;
    height: 40px;
    width: 40px;
    color: #cfd8dc!important;
    caret-color: #cfd8dc!important;
    border-radius: 50%;
    cursor: pointer;
}
.signup-icon-btn-google :hover{
  color: rgb(56, 142, 60);
}

.signup-icon-btn-instagram {
  border: 1px solid;
    background: transparent!important;
    box-shadow: none;
    height: 40px;
    width: 40px;
    color: #cfd8dc!important;
    caret-color: #cfd8dc!important;
    border-radius: 50%;
    cursor: pointer;
}
.signup-icon-btn-instagram :hover{
  color: rgb(244, 67, 54);
}
.signup-icon {
  display: block;
}
.icon-btn {
  margin-top: 20px;
  margin-right: 15px;
  display: inline-block;
}
.signup_mid {
  color: #bdbdbd!important;
  caret-color: #bdbdbd!important;
  margin-top: 20px;
}
.signup_input_text_all {
  display: flex;
  max-width: 100%;
  min-width: 50%;
  margin-top: 20px;
  position: relative;
  background-color: white;
  border: solid 1px #cfd8dc!important;
  border-radius: 6px;
}
.signup-img {
  margin-left: 12px;
  line-height: 50px;
  display: inline-block;
}
.signup-input_text {
  width: 100%;
  display: inline-block;
  
}
.signup-input_label {
  display: inline-block;
}
.signup-input_text_detail {
  width: 100%;
  border-style: none;
  padding: 0.375rem 0.5rem;
  background-color: transparent;
  line-height: 2.4;
}

.signup-input_text_detail::-webkit-input-placeholder{
  color: gray;
  opacity: 0.6;
}

.signup-input_text_detail::-webkit-input-placeholder { /* Chrome */
  color: gray;
  opacity: 0.6;
}
.signup-input_text_detail:-ms-input-placeholder { /* IE 10+ */
  color: gray;
  opacity: 0.6;
}
.signup-input_text_detail::-moz-placeholder { /* Firefox 19+ */
  color: gray;
  opacity: 0.6;
}
.signup-input_text_detail:-moz-placeholder { /* Firefox 4 - 18 */
  color: gray;
  opacity: 0.6;
}

.signup-icon-text {
  color: gray;
  font-size: 20px;
}

.icon-color-facebook {
  color: gray;
  font-size: 24px;
}

.icon-color-google {
  color: gray;
  font-size: 24px;
}

.icon-color-instagram {
  color: gray;
  font-size: 24px;
}

.signup-signin-text{
  color: black;
}

.signup-signin-text:hover {
  color: gray;
  text-decoration: underline;
}


.signin-title{
  color: black;
  font-size: 35px;
  font-weight: 700;
}

.signin-icon-btn-facebook {
border: 1px solid;
  background: transparent!important;
  box-shadow: none;
  height: 40px;
  width: 40px;
  color: #cfd8dc!important;
  caret-color: #cfd8dc!important;
  border-radius: 50%;
  cursor: pointer;
}
.signin-icon-btn-facebook :hover{
color: rgb(21, 101, 192);
}

.signin-icon-btn-google {
border: 1px solid;
  background: transparent!important;
  box-shadow: none;
  height: 40px;
  width: 40px;
  color: #cfd8dc!important;
  caret-color: #cfd8dc!important;
  border-radius: 50%;
  cursor: pointer;
}
.signin-icon-btn-google :hover{
color: rgb(56, 142, 60);
}

.signin-icon-btn-instagram {
border: 1px solid;
  background: transparent!important;
  box-shadow: none;
  height: 40px;
  width: 40px;
  color: #cfd8dc!important;
  caret-color: #cfd8dc!important;
  border-radius: 50%;
  cursor: pointer;
}
.signin-icon-btn-instagram :hover{
color: rgb(244, 67, 54);
}
.signin-icon {
display: block;
}
.icon-btn {
margin-top: 20px;
margin-right: 15px;
display: inline-block;
}
.signin_mid {
color: #bdbdbd!important;
caret-color: #bdbdbd!important;
margin-top: 20px;
}
.signin_input_text_all {
display: flex;
max-width: 100%;
min-width: 50%;
margin-top: 20px;
position: relative;
background-color: white;
border: solid 1px #cfd8dc!important;
border-radius: 6px;
}
.signin-img {
margin-left: 12px;
line-height: 50px;
display: inline-block;
}
.signin-input_text {
width: 100%;
display: inline-block;

}
.signin-input_label {
display: inline-block;
}
.signin-input_text_detail {
width: 100%;
border-style: none;
padding: 0.375rem 0.5rem;
background-color: transparent;
line-height: 2.4;
}
.signin-icon-text {
color: gray;
font-size: 20px;
}

.icon-color-facebook {
color: gray;
font-size: 24px;
}

.icon-color-google {
color: gray;
font-size: 24px;
}

.icon-color-instagram {
color: gray;
font-size: 24px;
}

.signin-signin-text{
color: black;
}

.signin-signin-text:hover {
color: gray;
text-decoration: underline;
}

/* Check Out */

*:hover { text-decoration:none !important }

table {
  width:100%;
}
table .spacer { width:auto; }


a.add-logo, a.add-text {
  margin:2em 1em 0 0;
  padding:.25em .5em;
  color:#999;
  border:solid 2px #999;
  border-radius:1em;
}
a.add-logo:hover, a.add-text:hover {
  background:#777;
  color:#fff;
}


div.add-logo, div.add-text {
  width:100%;
  margin:.25em 0;
  padding:1em;
  text-align:left;
  border:2px solid #eee;
  border-radius:2em;
}


.checkout-all {
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
}

.item {
  display: grid;
  margin:2em 0;
  padding:1em 0;
  border:solid 2px #eee;
  box-shadow:0px 1.25em 1em -1em #ccc
}

.item h3 {
  margin-top:0;
  color:#777;
}
.item h3:hover {
  color:#333;
}
.item-image {
  text-align: center;
}
.item-image img {
  width: 135px;
  height: 135px;
}

.item table td:first-child { text-align:left; width: 230px; }
.item table td.spacer { width:auto; }
.item table td.length { max-width:20%; }
.item table td.logo { width:30%; }
.item table td.position { width:20%; }
.item table td.line1 { width:20%; }
.item table td.line2 { width:20%; }
.item table td.quantity { width:4em; text-align:right; }

.additions {
  padding:1em 0;
}

div.additions div.logo, div.additions div.text {
 margin:0 0 1em;
  padding:.5em 0 .25em;
 background:#f9f9f9;
  border-top:solid 2px #eee;
border-bottom:solid 2px #eee;
}

.logo-preview {
  display:inline-block;
  margin:1em;
  padding:1em;
  height: 9em;
  width: calc(30% - 1em);
  box-shadow:0 0 1em #eee;
}

a.edit {
  float:right;
  background:#ccc;
}
.quantity input.form-control {
  width:3em;
  
}
.totals td:last-child {
  text-align:right;
}
.totals h2 {
  display:inline-block;
  margin-top:0;
}

.fa-minus-circle {
  color:#999;
}
.fa-check-circle {
  color:#3C6;
}
.fa-expand {
  color:#999;
}
.line-item label {
  margin-left: 10px;
}

.price label {
  margin-left: 50px;
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .checkout-all {
    display: flex; } 
  
  }
@media only screen and (max-width: 767px) {
  .checkout-all {
    display: grid;
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .form-inline {
    display: inline-block;
    margin-left: 10px;
  }
  .line-item {
    width: 100%;
    display: inline-block;
  }
  .item table td.price {
    float: right;
    display: inline-block;
    /* width: 7em; */
    /* text-align: left; */
  }
  .total label{
    float: right;
    margin-bottom: 0rem;
    /* width: 100%; */
    /* margin-left: 205px; */
    /* margin-right: auto; */
    margin-right: 30px;
    margin-left: 5px;
}
  .item table td:first-child {
    width: auto;
  }
  .price label {
    margin-left: 0px;
    margin-right: 30px;
  }
  .total {
    float: right;
    width: 100%;
  }
  .item-image img {
    width: 150px;
    height: 180px;
  }
  }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .checkout-all {
    display: grid; } 
  .form-inline {
    display: inline-block;
    margin-left: 10px;
  }
  .line-item {
    width: 100%;
    display: inline-block;
  }
  .item table td.price {
    float: right;
    display: inline-block;
    /* width: 7em; */
    /* text-align: left; */
  }
  .total label{
    float: right;
    margin-bottom: 0rem;
    /* width: 100%; */
    /* margin-left: 205px; */
    /* margin-right: auto; */
    margin-right: 30px;
    margin-left: 5px;
}
  .item table td:first-child {
    width: auto;
  }
  .price label {
    margin-left: 0px;
    margin-right: 30px;
  }
  .total {
    float: right;
    width: 100%;
  }
  .item-image img {
    width: 150px;
    height: 180px;
  }
  }
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .checkout-all {
    display: grid; } 
  .form-inline {
    display: inline-block;
    margin-left: 10px;
  }
  .line-item {
    width: 100%;
    display: inline-block;
  }
  .item table td.price {
    float: right;
    display: inline-block;
    /* width: 7em; */
    /* text-align: left; */
  }
  .total label{
    float: right;
    margin-bottom: 0rem;
    /* width: 100%; */
    /* margin-left: 205px; */
    /* margin-right: auto; */
    margin-right: 30px;
    margin-left: 5px;
}
  .item table td:first-child {
    width: auto;
  }
  .price label {
    margin-left: 0px;
    margin-right: 30px;
  }
  .total {
    float: right;
    width: 100%;
  }
  .item-image img {
    width: 150px;
    height: 180px;
  }
  .form-inline label {
    display: inline-block;
  }
  }

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .checkout-all {
      display: flex; } 
    
    }
  @media only screen and (max-width: 767px) {
    .signup_details-sub {
      width: 80%;
    }
    .signin_details-sub {
      width: 80%;
    }
    }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .signup_details-sub {
      width: 80%;
    }
    .signin_details-sub {
      width: 80%;
    }
    }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .signup_details-sub {
      width: 80%;
    }
    .signin_details-sub {
      width: 80%;
    }
    }
  
  .cart-page-heading {
    padding-bottom: 15px;
    border-bottom: 2px solid #eee;
  }

  .point-div {
    font-size: 16px;
    line-height: 40px;
    color: #424242;
    margin-left: -10px;
  }

  .available {
    display: flex;
  }

  .custom-control-input-point {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  .mg-left {
    margin-left: 10px;
  }

  .point {
    margin: 0 15px 0px 5px;
    font-size: 15px;
    color: #0315ff;
    font-weight: bold;
  }
  .imgheight {
    height: 300px;
  }
  .imgbasket {
    height: 220px;
  }
  .wh100{
  	width:100%;
  	height:100%;
  }
  .mt86{
  	margin-top:86px;
  }