<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.PerformanceDao">
	<insert id="insertPerformance">
		INSERT INTO PERFORMANCE(BASEDATE, USERS, SIGNUP, PHOTOVIEWS, PRDTPHOTO, BUYPHOTO, BUYSHOP, REBUY, SALES)
		SELECT DATE_FORMAT(US.BASEDATE, '%Y%m%d') AS BASEDATE, US.USERS, SG.SIGNUP, PH.PHOTOVIEWS, DV.PRDTPHOTO, BP.BUYPHOTO, BS.BUYSHOP, RB.REBUY, SL.SALES
		FROM (
			SELECT #{baseDate} AS BASEDATE, COUNT(USERID) AS USERS 
			FROM USERS
		) US JOIN
		(	
			SELECT #{baseDate} AS BASEDATE, COUNT(USERID) AS SIGNUP 
			FROM USERS
			WHERE CREATEDATE = #{baseDate}
		) SG ON US.BASEDATE = SG.BASEDATE
		     JOIN
		( 
			SELECT #{baseDate} AS BASEDATE, COUNT(URI) AS PHOTOVIEWS
			FROM LOGS
			WHERE DATE(DATETIME) = #{baseDate}
			AND SUBSTRING_INDEX(SUBSTRING_INDEX(URI,'/',3), '/',-1) = 'photos'
			AND SUBSTRING_INDEX(SUBSTRING_INDEX(URI,'/',6), '/',-1) !='products'
		) PH ON US.BASEDATE = PH.BASEDATE
		    JOIN
		(
			SELECT #{baseDate} AS BASEDATE, COUNT(URI) AS PRDTPHOTO
			FROM LOGS
			WHERE DATE(DATETIME) = #{baseDate}
			AND SUBSTRING_INDEX(SUBSTRING_INDEX(URI,'/',3), '/',-1) = 'photos'
			AND SUBSTRING_INDEX(SUBSTRING_INDEX(URI,'/',6), '/',-1) ='products'
		) DV ON US.BASEDATE = DV.BASEDATE
		   JOIN
		(
			SELECT #{baseDate} AS BASEDATE, COUNT(URI) AS BUYPHOTO
			FROM LOGS
			WHERE DATE(DATETIME) = #{baseDate}
			AND SUBSTRING_INDEX(SUBSTRING_INDEX(URI,'/',3), '/',-1) = 'photos'
			AND SUBSTRING_INDEX(SUBSTRING_INDEX(URI,'/',6), '/',-1) ='products'
			AND SUBSTRING_INDEX(URI,'/',-1) = 'buy'
		) BP ON US.BASEDATE = BP.BASEDATE
		     JOIN
		(
			SELECT #{baseDate} AS BASEDATE, COUNT(URI) AS BUYSHOP
			FROM LOGS
			WHERE DATE(DATETIME) = #{baseDate}
			AND SUBSTRING_INDEX(SUBSTRING_INDEX(URI,'/',3), '/',-1) = 'products'
			AND SUBSTRING_INDEX(URI,'/',-1) = 'buy'
		) BS ON US.BASEDATE = BS.BASEDATE
		      JOIN
		(
			SELECT #{baseDate} AS BASEDATE, COUNT(URI) AS REBUY
			FROM LOGS
			WHERE DATE(DATETIME) = #{baseDate}
			AND SUBSTRING_INDEX(URI,'/',-1) = 'buy'
			AND USERID IN (
				SELECT B.USERID
				FROM BASKETS  B JOIN BUYITEMS  I
				ON B.BASKETID = I.BASKETID
				WHERE I.ORDERSTATUSCODE='OR07'
		    )
		) RB ON US.BASEDATE = RB.BASEDATE
		     JOIN
		(
			SELECT #{baseDate} AS BASEDATE, IFNULL(SUM(I.UNITPRICE*I.QUANTITY),0) AS SALES    
			FROM BASKETS  B JOIN BUYITEMS  I
			ON B.BASKETID = I.BASKETID
			WHERE B.CREATEDATE = #{baseDate}
			AND I.ORDERSTATUSCODE='OR03'
		) SL ON US.BASEDATE = SL.BASEDATE
	</insert>
	
	<select id="getPerformance" parameterType="hashMap" resultType="vo.PerformanceVo">
		SELECT BASEDATE, USERS, SIGNUP, PHOTOVIEWS, PRDTPHOTO, BUYPHOTO, BUYSHOP, REBUY, SALES 
		FROM PERFORMANCE
		WHERE BASEDATE BETWEEN #{fromDate} AND #{toDate}
	</select>		
</mapper>