<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.UsersDao">
	<insert id="insertUsers" parameterType="vo.UsersVo">
        INSERT INTO USERS (USERID, PASSWORD, ENABLED, EMAIL, PHONE, CREATEDATE, UPDATEDATE)
        VALUES (#{userid}, #{password}, FALSE, #{email}, #{phone}, NOW(), NOW())
    </insert>
	
	<select id="idCheck" resultType="int">
		SELECT COUNT(*) AS CNT FROM USERS WHERE USERID = #{userid}
	</select>
	
	<select id="loginCheck" resultType="int">
		SELECT COUNT(*) AS CNT FROM USERS WHERE USERID = #{param1} AND PASSWORD = #{param2} 
	</select>
	
	<select id="getUsers" resultType="vo.UsersVo">
		SELECT USERID, PASSWORD, ENABLED, EMAIL, PHONE, CREATEDATE, UPDATEDATE 
		FROM USERS WHERE USERID = #{userid}
	</select>
	
	<update id="updateUsers" parameterType="vo.UsersVo">
		UPDATE USERS
			 SET  PASSWORD = #{password}, 
			          ENABLED = #{enabled}, 
			          EMAIL = #{email}, 
			          PHONE = #{phone}, 
			          UPDATEDATE = NOW() 
		WHERE USERID  = #{userid}
	</update>
	
	<update id="updateKey" parameterType="HashMap">
        UPDATE USERS
        SET EMAILKEY = #{emailkey}
        WHERE USERID = #{userid}
    </update>
    
    <update id = "alter_userKey" parameterType="HashMap">
       UPDATE USERS
       SET ENABLED = TRUE
       WHERE USERID = #{userid} AND EMAILKEY = #{emailkey}
   </update>
   
   <select id="getEnabledUsers" resultType="vo.UsersVo">
        SELECT USERID, PASSWORD, ENABLED, EMAIL, PHONE, CREATEDATE, UPDATEDATE 
        FROM USERS WHERE ENABLED = 1
    </select>
	
</mapper>